body {
    background-color: black;
    margin: 0px;
    padding: 0px;
}

.row div {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
    margin: 0px;
}

.brick {
    background-color: green
}

.coin {
    background: url('coin.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cherry {
    background: url('cherry.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
    background-color: black;
}

.empty {
    background-color: black;
}

#player1 {
    background: url('Lakito.webp');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
}

#player1:hover {
    transform: rotateY(180deg);
}

#enemy {
    background: url('zombie-minecraft.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
}

#score {
    height: 20px;
    width: 30px;
    padding: 7px;
    text-align: center;
    color: white;
    border: 1px solid white;
    position: absolute;
    top: 10px;
    left: 510px;
}